doctype html
html(lang='zh_CN')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    block css
      if mode != 'dev'
        style.
          !{css}
    block title
      title
  body
    #app
    block commonjs
      if mode != 'dev'
        script(src='#{vendorSrc}')
    block js
      if mode == 'dev'
        script(src='#{scriptSrc}')
      else
        script.
          !{js}
